<!-- templates/profile.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1> {{ this_user.first_name }} {{ this_user.last_name }} (@ {{ this_user.username }} ) </h1>
    
    {{ this_user.profile.followers }} followers <br>
    Profile last updated: {{ this_user.profile.timing }} 
    
    {%if user.username == this_user.username %}
        <a href="/update/{{ user.id }}">(Update Now)</a>
    {% endif %}
    
    <br>
    <ul>
        {% for repo in repos %}
            <li> {{ repo }} - {{ repo.stars }} stars </li>
        {% endfor %}    
    </ul>
{% endblock %}