pip3 install python-dotenv

sudo apt-get build-dep python-psycopg2
sudo apt install python3-psycopg2 # Python 3
pip install psycopg2-binary

pip install requests
sudo apt install pipenv
pipenv install requests